<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>capital-case Demo</title>

  <script src="../platform/platform.js"></script>
  <link rel="import" href="capital-case.html">
  <style type="text/css">
  body{
  	padding: 35px;
  	background: #eee;	
  }
  h1
  {
  	text-align: center;	
  }
  capital-case
  {
  	padding-left: 21px;
  }
  </style>
</head>
<body unresolved>
  <h1><code>&lt;capital-case></code></h1>
  <hr>
  <h3>An example of using <code>&lt;capital-case></code>:</h3>
 <code>
    &lt;capital-case>your text here&lt;/capital-case>	
  </code>
  <h3>The result</h3>
  <code>
	  <capital-case>
	    your text here
	  </capital-case>
  </code>
  <br/>
  <hr>
  <br/>
  <h3>Using nested tags <code>&lt;capital-case></code>:</h3>
 <code>
    &lt;capital-case>&lt;p>your text here&lt;/p>&lt;/capital-case>	
  </code>
  <h3>The result</h3>
  <code>
	  <capital-case>
	    <p>your text here</p>
	  </capital-case>
  </code>



</body>
</html>
